name: Java CI with Maven

permissions:
  contents: read
  id-token: write
  actions: read
  security-events: write

on:
  push:
    branches: [ "master" ]  # change to main if your repo uses main
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v1
